# Android / Gradle
*.iml
.gradle/
local.properties
/.idea/
.DS_Store

# Build outputs (cho tất cả module)
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/
**/.kotlin/

# IntelliJ / Android Studio specific
.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles

# Misc
*.log
*.keystore
*.jks